html {
    height: 100%;
}

body {
    background-image: url(https://github.com/NoahSXF/mapStudy/blob/1327d0897d10a46890d20a2e7b9d1bf21b38fe30/src/main/resources/jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}